body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #FF6B00, #FFE2D1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  text-align: center;
  width: 350px;
}

h1 {
  color: #FF6B00;
  margin-bottom: 25px;
}

label {
  display: block;
  text-align: left;
  margin-top: 10px;
  font-weight: 500;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  margin-top: 20px;
  width: 100%;
  background: #FF6B00;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #e55c00;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}
